{
    "audio": {
        "device": "0,0",
        "sample_rate": 48000,
        "channels": 1,
        "chunk_size": 1024
    },
    "decoder": {
        "target_sample_rate": 12000,
        "min_freq": 500,
        "max_freq": 3000,
        "threshold": -26
    },
    "recording": {
        "save_audio": false,
        "output_dir": "recordings",
        "record_seconds": 13.5,
        "advance_seconds": 0.2
    },
    "logging": {
        "level": "INFO",
        "file": "logs/ft8pycli.log"
    }
} 